<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/ckeditor.css">
		<script type="text/javascript" src="javascript/jquery-latest.min.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
		<title>Making the Headlines</title>
	</head>

	<body>
		<a href="/Article"> Add article </a><br>
		<a href="/Category"> Add Tag </a><br><br>
		<h1 class="blackh1">Enter a new article</h1>
		<div class="cmsleft">
			<form action="/Article" method="post">
				<table>
					<tr>
						<td><label for="name">Title:</label>
						<input type="text" name="title" class="title"/></td>
					</tr>

					<tr>
						<td>
							<label for="intro">Intro:</label>
							<input type="text" name="intro" ></input>
						</td>
					</tr>

					<tr>
						<td>
							<label for="imageurl">Add Image URL:</label>
							<input type="text" name="imageurl" ></input>
						</td>
					</tr>

					<tr>
						<td>
							<label for="banner">Add Banner URL:</label>
							<input type="text" name="banner" ></input>
						</td>
					</tr>

					<tr>
						<td>
							<label for="day">Day:</label>
							<input type="text" name="day" id="day"/>
							
							<label for="month">Month:</label>
							<input type="text" name="month" id="month"/>
							
							
							<label for="year">Year:</label>
							<input  type="text" name="year" id="year"/>
						</td>
					</tr>

					<tr>
						<td>
							<br><label for="owner">Sub Content:</label><br>
							<textarea cols="80" id="subcontent" name="subcontent" rows="5"></textarea>
						</td>
					</tr>

					<tr>
						<td>
							<br><label for="owner">Content:</label><br>
							<textarea class="ckeditor" cols="80" id="content" name="content" rows="10"></textarea>
						</td>
					</tr>
					
					<tr>
						<td>
							<p>Tags:</p><br>
							<select name='category'>
								{% for category in categories %}
								<option value={{ category.key.id() }}>{{ category.name }}</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<input class= "submit" type="submit" value="Add Article" />
						</td>
					</tr>
				</table>
			</form>
		</div>

		<div class="cmsright">
			<h1 class="blackh1">Recent posts</h1><br>

			{% for article in articles %}

				<b>Title: {{ article.title }}</b> <br/>
				<p>{{ article.intro }}</p>  
				<p>{{ article.subcontent }}</p>
				<img src =" {{ article.imageurl }} " style="width:120px;"/> <br>
				<img src =" {{ article.banner }} " style="width:120px;"/> <br>
				Published on {{ article.date }} <br>

				
				<a href='/ArticleEdit/{{ article.key.id() }}'>Edit</a> |  <a href='/ArticleDelete/{{ article.key.id() }}'>Delete</a><br><br>
				<br>
			{% endfor %}
		</div>

	</body>
</html>