<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/ckeditor.css">
	<script type="text/javascript" src="javascript/jquery-latest.min.js"></script>
	<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
	<title>Repentance</title>
</head>
<body>
	
	<h2>Are you sure you want to delete this article?</h2>
	<form method='post' action='/ArticleDelete/{{ article.key.id() }}'>
		Title: {{ article.title }} <br>
		Date: {{ article.date }} <br>
		Content: <br> {{ article.content }} <br> <br>


		<input type='submit' value='Delete'>
		<a href='/Article'>Cancel</a>
	</form>
</body>
</html>