<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/ckeditor.css">
		<script type="text/javascript" src="javascript/jquery-latest.min.js"></script>
		<script type="text/javascript" src="ckeditor/ckeditor.js">CKEDITOR.replace(content)</script>
		<title>Fix it Felix</title>
	</head>

	<body>
		<h2>Edit Article</h2>
		<form method='post' action='/ArticleEdit/{{ article.key.id() }}'>
			<table>
				<tr>
					<td><label for="name">Title:</label>
					<input type="text" name="title" id="title" value='{{ article.title }}'/>
				</tr>

				<tr>
					<td>
						<label for="intro">Intro:</label>
						<input type="text" name="intro" value='{{ article.intro }}' ></input>
					</td>
				</tr>

				<tr>
					<td>
						<label for="imageurl">Add Banner URL:</label>
						<input type="text" name="banner" value='{{ article.banner }}' ></input>
					</td>
				</tr>

				<tr>
					<td>
						<label for="imageurl">Add Image URL:</label>
						<input type="text" name="imageurl" value='{{ article.imageurl }}' ></input>
					</td>
				</tr>

				<tr>
					<td>
						<label for="day">Day:</label>
						<input type="text" id="day" name="day" value='{{ article.date.day }}'/>
						
						<label for="month">Month:</label>
						<input type="text" id="month" name="month" value='{{ article.date.month }}'/>
						
						<label for="year">Year:</label>
						<input type="text" id="year" name="year" value='{{ article.date.year }}'/>
					</td>
				</tr>

				<tr>
					<td>
						<br><label for="owner">Sub Content:</label><br>
						<textarea class="ckeditor" cols="80" id="subcontent" name="subcontent" rows="10">{{ article.subcontent }}</textarea>
					</td>
				</tr>

				<tr>
					<td>
						<br><label for="owner">Content:</label><br>
						<textarea class="ckeditor" cols="80" id="content" name="content" rows="10">{{ article.content }}</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<p>Tags:</p>
						<select name='category'>
							{% for category in categories %}
							{% if category.key.id() == article.category.id() %}
							<option value='{{ category.key.id() }}' selected>{{ category.name }}</option>
							{% else %}
							<option value='{{ category.key.id() }}'>{{ category.name }}</option>
							{% endif %}
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<input class= "submit" type="submit" value="Save" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>