
<h2>Do you want to delete this tag?</h2>
<form method='post' action='/CategoryDelete/{{ category.key.id() }}'>
Tag: {{ category.name }} <br>

<input type='submit' value='Delete'>

<a href='/Category'>Cancel</a>
</form>