
<h2>Edit Tags</h2>
<form method='post' action='/CateEdit/{{ category.key.id() }}' >
Tags <input type='text' name='name' value='{{ category.name }}'/> <br>
Description <input type='text' name='description' value='{{ category.description }}'/> <br>
<input type='submit' value='Save'>
</form>