<a href="/Article"> Add article </a><br>
<a href="/Category"> Add Tag </a>


<h2>Add new Tags</h2>
<form method='post' action='/Category' onsubmit="return checkform(this);">
Tag <input type='text' name='name' id="name"/> <br>
Description <input type='text' name='description'/> <br>
<input type='submit' value='Save'>
</form>

<script>
function checkform (form)
{
	if (form.name.value == "") {
	alert ("Please enter the category name! \n");
	
	return false;
}
	return true;
}
</script>

<h2>List of Tags</h2>

{% for category in categories %}
    Tag: {{ category.name }} <br>
	Description: {{ category.description }} <br>
	<a href='/CateEdit/{{ category.key.id() }}'>Edit</a> |  <a href='/CategoryDelete/{{ category.key.id() }}'>Delete</a><br><br>
{% endfor %}