<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script type="text/javascript" src="javascript/jquery-latest.min.js"></script>
	<title>League of Legends</title>
</head>
<body>
	<header>
		<nav>
			<div class="header-links">
				<h1 class="logo" title="Boxcon"><a href="/"><img class="logoimg" src="images/logo.png" alt="Boxcon"></a></h1>
				<ul class="left">
					<li><a href="/html/champions.html" title="CHAMPIONS" class="article-nav">CHAMPIONS</a></li>
					<li><a href="/Details" title="LATEST UPDATE" class="guide-nav">LATEST UPDATE</a></li>
					<li><a href="#" title="TOURNAMENTS" class="tourny-nav">TOURNAMENTS</a></li>
				</ul>
				<ul class="right">
					<li><a href="#" title="FORUMS" class="forum-nav">FORUMS</a></li>
					<li><a href="#" title="LIVE STREAMS" class="live-nav">LIVE STREAMS</a></li>
					<li><a href="/Article" title="CMS" class="login-nav">CMS</a></li>
				</ul>
			</div>
		</nav>
	</header>
	
	<div id="wrapper">
		<div id="bannerbackground">
			<img id="bannerimg" src="images/riven_v_shyvana_1920x1080.jpg" alt="Banner">
		</div>
	</div>

	<div id="wrapper">
		<div id="pooltitle">
			<h1>News</h1>
		</div>
		<div id="poolclass">
			<div id="classline"></div>
		</div>
	</div>

	<div id="wrapper">
		<div id="newsbackground">
			<div id="newsbox">
				{% set count = 0 %}
				{% for article in articles if not count == 3 %}
						<table>	
							<tr>
								<td width="50%">
									<h2>{{ article.title }}</h2> <br>
									<p class="p2">
										{{ article.intro }} on {{ article.date }}
									</p>  
									<p>{{ article.subcontent }}</p>
								</td>
								<td>
									<img src =" {{ article.imageurl }} " style="width:350px;">
								</td>
							</tr>
						</table>
					<div id="classline2"></div>
					{% set count = count + 1 %}
				{% endfor %}
			</div>
		</div>
	</div>

	<div id="wrapper">
		<div id="footerbackground">
			<div id="socialfooter">
			<br><img id="footerlogo" height="100px" src="images/logo2.png" alt="logo"><br>
				<img src="images/social/tw.png" alt="twitter"><a href="#">TWITTER</a>
				<img src="images/social/fb.png" alt="facebook"><a href="#">FACEBOOK</a>
				<img src="images/social/yt.png" alt="youtube"><a href="#">YOUTUBE</a>
				<img src="images/social/red.png" alt="reddit"><a href="#">REDDIT</a><br>
				<p>&copy; 2014 BOXCON.COM. ALL RIGHTS RESERVED.</p>
			</div>
		</div>
	</div>

	<footer>
		<nav>
		<div class="footer-links">
			<ul class="middle">
				<li><a href="#" title="PRIVACY POLICY" class="privacy-nav">PRIVACY POLICY</a></li>
				<li><a href="#" title="AD CHOICES" class="adc-nav">AD CHOICES</a></li>
				<li><a href="#" title="TERMS OF USE" class="terms-nav">TERMS OF USE</a></li>
				<li><a href="#" title="ADVERTISE" class="adv-nav">ADVERTISE</a></li>
			</ul>
		</div>
	</nav>
</footer>
</body>
</html>