@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura.eot?') format('eot'), 
       url('../fonts/Futura.woff') format('woff'), 
       url('../fonts/Futura.ttf')  format('truetype'),
       url('../fonts/Futura.svg#Futura') format('svg');
}

* {

  font-family: "Futura", sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#wrapper {
  width:100%;
  height:100%;
  margin-right:auto;
  margin-left:auto;
}

#bannerbackground {
  background-color: #0e121e;
  height: 700px;
}
#bannerimg{
  padding-top: 150px;
  display: block;
  max-height: 660px;
  max-width: 1200px;
  margin: 0 auto;
  position:relative;
}

#pooltitle{
  text-align: center;
  background-color: #0e121e;
  height: 75px;
  display: block;
  margin: 0 auto;
}
#poolclass{
  text-align: center;
  background-color: #0e121e;
  height: 75px;
  display: block;
  margin: 0 auto;
}
#classline{
  background-color: #c56d3f;
  width: 1000px;
  height: 1px;
  display: block;
  margin: 0 auto;
}

#classline2{
  background-color: #4c5259;
  width: 850px;
  height: 2px;
  margin-left: 100px; 
}

#poolbackground{
  background-color: #0e121e;
  height: 800px;
}
#poolbox{
  background-color: #c56d3f;
  width: 1175px;
  height: 655px;
  display: block;
  margin: 0 auto;
  border: 15px #122031 solid;
}
#footerbackground{
  background-color: #0e121e;
  position: relative;
  height: 250px;
}
#socialfooter{
  background-color: #122031;
  position: relative;
  height: 200px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}
#socialfooter img{
  position: relative;
  display: inline-block;
  margin: 0 auto;  
  vertical-align: middle
}
#socialfooter a{
  color: white;
  text-decoration: none;
}
#socialfooter a:hover{
  border-bottom: 1.5px white solid;
  color: white;
}
#socialfooter p{
  color: white;
  font-size: 10px;
}
#detailbackground {
  background-color: #0e121e;
  height: 2100px;
}
#championdetails{
  background-color: #122031;
  height: 1900px;
  width: 1200px;
  display: block;
  margin: 0 auto;
}

#newsbackground{
  background-color: #0e121e;
  height: 1500px;
}
#newsbox{
  background-color: #1c232d;
  width: 1175px;
  height: 1300px;
  display: block;
  margin: 0 auto;
}
#newsbox p{
  color: white;
}
#newsbox td{
  padding-left: 100px;
  padding-top: 100px;
}
#newsbox table{
  margin-bottom: 50px;
}
#newsbox h2{
  margin: 0px;
  padding: 0px;
}
#newsbox a{
  text-decoration: none;
  color: #c56d3f;
}

#articlebackground{
  background-color: #0e121e;
  height: 1800px;
}
#articlebox{
  background-color: #1c232d;
  width: 1175px;
  height: 1650px;
  display: block;
  margin: 0 auto;
}
#articlebox p{
  color: white;
}
#articlebox td{
  padding-left: 100px;
  padding-top: 100px;
}
#articlebox table{
  margin-bottom: 50px;
}
#articlebox h2{
  margin: 0px;
  padding: 0px;
}
#articlebanner{
  padding-top: 50px;
}
.articlecontainer{
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}
.p2{
  margin-top: -20px;
  padding-bottom: 20px; 
}

table td > div {
    overflow: visible;
    height: 4px;
}

footer{
  position:absolute;
  display:block;
  width:100%;
  margin-top: 50px;
}

h1{
  color: white;
  margin: 0 auto;
}
h2{
  color: #c56d3f;
  margin: 0 auto;
}
header{
  position:absolute;
  display:block;
  width:100%;
  height:170px;
  margin-top:-20px; 
  z-index: 1;
}
header h1{
  text-align:center;
  max-width:200px;
  margin:0px auto 0 auto;
  position:relative;
  z-index:1;
}
header h1 a{
  display:block;
}
header h1 img{
  width:100%;
}

nav {
  position:relative;
  width:100%;
}
nav a {
  font-size:15px;
  text-decoration:none;
  color:white;
}
nav ul {
  width:49%;
  line-height:85px;
  padding:0;
  margin:0;
  position:relative;
}
nav ul li {
  display:inline-block;
  position:relative;
}
nav .left li {
  margin:0 7% 0 0;
  left:90px;
  bottom:-5px;
}
nav .right li {
  margin:0 0 0 8%;
  right:90px;
  bottom:-5px;
}
.right{
  float:right;
  text-align:right; 
  width: 50%;
  height:100px;
  margin-top: -125px;
  background-color: #122031;
}
.left{
  float:left;
  text-align:left;  
  width:50%;
  height:100px;
  margin-top: -125px;
  background-color: #122031;
}

nav .middle li {
  margin:0 7% 0 7%;
  bottom:0px;
}
.middle{
  text-align:center;  
  width:100%;
  height:100px;
  margin-top: -100px;
  background-color: #0e121e;
}

body{
  height:auto;
  margin: 0px;
}

.portrait{
  padding-top: 75px;
  width: 400px;
  padding-left: 100px;
}
.champname{
  margin-left: 160px;
  margin-top: -110px;
  font-size: 30px;
  color: #c56d3f;
}
.champtitle{
  margin-left: 160px;
  margin-top: -30px;
  font-size: 18px;
  color: white;
}
.champhome{
  margin-left: 160px;
  margin-top: 0px;
  font-size: 14px;
  color: white;
}

.champstats{
  padding-left: 100px;
  width: 600px;
  overflow: hidden;
  padding-top: 10px; 
}
.champstats tr{
  line-height: 0px;
}
.statslabel{
  color: #c56d3f;
  font-size: 18px;
}
.statsdetail{
  font-size: 14px;
  color: white;
}
.video{
  float: right;
  z-index: 1;
  margin-top: -325px;
  margin-right: 100px;
}

.lore{
  padding-top: 50px;
}
.lore h1 {
  color: #c56d3f;
  font-size: 30px;
  padding-left: 100px;
}
.lore p {
  color: white;
  font-size: 16px;
  padding-left: 100px; 
  padding-right: 100px; 
}

.articlecontainer{
  padding-top: 50px;
}
.articlecontainer h1{
  color: #c56d3f;
  font-size: 30px;
  padding-left: 100px;
}

.abilities{
  padding-top: 50px;
}
.abilities h1{
  color: #c56d3f;
  font-size: 30px;
  padding-left: 100px;
}
.abilities ul{
  padding-left: 25px;
  float: left;
}
.skills{
  height: 100px;
  padding-left: 75px;
}

.rivals{
  padding-top: 50px;
  padding-left: 100px;
}
.rivals h1{
  color: #c56d3f;
  font-size: 30px;
}
.rivals p {
  color: white;
  font-size: 16px;
  margin-left: 160px;
  margin-right: 100px;
  margin-top: -110px;
}
.rivals a{
  color: #c56d3f;
  margin-left: 160px;
  text-decoration: none;
}
.rivals a:hover{
  border-bottom: 1.5px #c56d3f solid;
  color: #c56d3f;
}
.otherchamps{
  float: right;
  margin-right: 100px;
}

a{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  cursor:pointer;
}
.left a:hover{
  border-bottom: 1.5px white solid;
  color: white;
}
.right a:hover{
  border-bottom: 1.5px white solid;
  color: white;
}
.middle a:hover{
  border-bottom: 1.5px white solid;
  color: white;
}

.championcontainer{
  padding-left: 100px;
  padding-top: 25px;
}
.championcontainer img{
  padding-left: 50px;
}

.cmsleft{
  float: left;
}
.cmsright{
  float: right;
  padding-right: 100px;: 
}
.blackh1{
  color: black;
}